* {
	margin:0;
	padding:0;
	outline:none;
	box-sizing:border-box;
	text-decoration:none;
	font-family:arial;
}


.wrapper {
	width:100%;
	height:calc(100vh - 5em);
	display:flex;
	-webkit-box-shadow: -1px -7px 8px 0px rgba(160, 163, 165, 0.2);
-moz-box-shadow: -1px -7px 8px 0px rgba(160, 163, 165, 0.2);
box-shadow: -1px -7px 8px 0px rgba(160, 163, 165, 0.2);
}